# Base de datos SQL Server
DB_USER=USUARIO_SQL
DB_PASSWORD=PASSWORD_SQL
DB_SERVER=localhost
DB_NAME=CAC
DB_PORT=1433

# Puerto del servidor
PORT=3000

# Solo si van a usar "Enviar informe" por correo:
MAIL_PROVIDER=gmail          # o "office365"
MAIL_USER=<correo remitente>
MAIL_PASS=<contraseña de aplicación, no la contraseña normal>
