ANTHROPIC_API_KEY=sk-ant-PEGA_TU_API_KEY_AQUI

# Base de datos SQL Server
DB_USER=USUARIO_SQL
DB_PASSWORD=PASSWORD_SQL
DB_SERVER=localhost
DB_NAME=CAC
DB_PORT=1433

# Puerto del servidor Node.js
PORT=3000
